<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg" href="data:image/svg+xml;base64,
        PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAv
        c3ZnIj4KPHBhdGggZmlsbD0iIzk5ODA2NiIgZD0iTSAxMDAsOTEuNjczNDcgSCAwIFYgOC4zMjY1
        MyBoIDIyLjYzMjU1MSBsIDUuMjI5Mzc2LDguNzQxMzEzIEggMTAwIFoiIC8+CjxwYXRoIGZpbGw9
        IiNjMmIzYTMiIGQ9Ik0gMCw5MS42NzM0NyBIIDEwMCBWIDI4LjMyNjUzIEggMzMuMzY3NDUgbCAt
        NS4yMjkzOCw2Ljc0MTMxIEggMCBaIiAvPgo8L3N2Zz4KCg==
    ">
</head>
<header>
    <div class="current-dir">{{current-dir}}</div>
    <div class="file-count">{{file-count}}</div>
</header>
<main>
    <div class="placeholder">
        <div class="emoji">¯\_(ツ)_/¯</div>
        <div>Loading?  Broken?</div>
    </div>
</main>
<section id="icons">
    <svg class="icon icon-image" viewBox="0 0 100 100">
        <path d="M 10,10 H 90 V 90 H 10 Z" />
        <path d="M 15,15 H 85 V 75 H 15 Z" />
        <path d="M 85,75 72.660989,59.061836 61.408603,69.358562 38.156652,45 15,75 Z" />
        <circle cx="69" cy="34" r="9" />
    </svg>
    <svg class="icon icon-file" viewBox="0 0 100 100">
        <path d="m 15,0 h 55 l 15,15 v 85 H 15 Z" />
        <path d="M 70,0 85,15 H 70 Z" />
    </svg>
    <svg class="icon icon-video" viewBox="0 0 100 100">
        <path fill-rule="evenodd" d="M 1.0000002,21.624841 3.5594241,35.770854 23.317059,32.16511 32.159843,15.938208 Z M 43.897478,13.796103 35.054693,30.023006 48.161953,27.630947 57.004736,11.404045 Z M 68.742372,9.2619409 59.899588,25.488843 73.006848,23.096784 81.849632,6.8698816 Z M 93.587267,4.7277776 84.744484,20.95468 97.461721,18.6338 94.902298,4.4877873 Z M 3.5600004,35.60416 V 95.512217 H 99.000002 V 35.60416 Z M 40.796458,54.207012 61.763543,65.918543 40.813721,76.908746 Z" />
    </svg>

    <svg class="icon icon-directory" viewBox="0 0 100 100">
        <path d="M 100,91.67347 H 0 V 8.32653 h 22.632551 l 5.229376,8.741313 H 100 Z" />
        <path d="M 0,91.67347 H 100 V 28.32653 H 33.36745 l -5.22938,6.74131 H 0 Z" />
    </svg>
</section>
<script>
    'use strict'

    const PATTERN_IMAGE = /\.(svg|png|gif|jpe?g)$/i
    const PATTERN_VIDEO = /\.(mp4|mpeg|m4v)$/i
    const TYPE_DIRECTORY = 'directory'
    const TYPE_FILE = 'file'
    const KB = 1024
    const MB = 1000 * KB

    //
    // Configuration
    //

    const BUCKET_URL = 'https://<MY BUCKET NAME>.s3.amazonaws.com'
    const CONTENT_BASE_URL = BUCKET_URL + '/'
    const PREVIEW_LIMIT = (parseInt(location.search.replace(/^\?preview_kb=(\d+)/g, '$1'), 10) || 500) * KB
    const SORT_REVERSED = false

    const HIDDEN_KEYS = [
        'index.html',
    ]

    const __manifest__ = []


    async function main() {
        let xmldom
        try {
            const res = await fetch(BUCKET_URL + '/?list-type=2&max-keys=5000')
            if (res.status != 200) {
                renderError(res.status === 0
                    ? 'check the console? 🤯'
                    : `S3 returned HTTP ${res.status}`
                )

                return
            }

            xmldom = await res.text().then(s => new DOMParser().parseFromString(s, 'text/xml'))
        }
        catch (e) {
            console.error('[main] fetch manifest failed', e)
            renderError(e)
            return
        }

        // Build manifest
        console.groupCollapsed('[main] build manifest')

        const directories = {}

        // Add files
        Array.from(xmldom.querySelectorAll('Contents'))
            .filter(e => e.querySelector('Key').textContent.substr(-1) !== '/')
            .map(toFile)
            .forEach(f => {
                console.debug(f)
                directories[f.parent] = true
                __manifest__.push(f)
            })

        // Fabricate intermediary ancestors
        Object.keys(directories)
            .forEach(key => {
                const ancestors = key.split('/')
                while (ancestors.length) {
                    ancestors.pop()
                    directories[ancestors.join('/')] = true
                }
            })

        // Add directories
        Object.keys(directories)
            .filter(Boolean)
            .forEach(key => {
                const d = toDirectory(basename(key), key)
                console.debug(d)
                __manifest__.unshift(d)
            })

        console.groupEnd()

        // Post-processing
        console.groupCollapsed('[main] manifest postprocessing')
        __manifest__
            .forEach(f => {
                // Ignore hidden files and directories
                if (f.hidden || f.type === TYPE_DIRECTORY) {
                    return
                }

                // Hide things
                if (HIDDEN_KEYS.includes(f.key)) {
                    console.debug('hide: %s', f.key)
                    f.hidden = true
                    return
                }

                // Image previews
                if (PATTERN_IMAGE.test(f.basename) && f.bytes <= PREVIEW_LIMIT) {
                    console.debug('set preview: %s', f.key)
                    f.preview = f.key
                    return
                }

                // Explicit thumbnails
                const pattern = f.key.replace(/\.\w+$/, '.THUMBNAIL')
                console.debug('find thumbnail:  %s', pattern)

                const thumbnail = __manifest__.find(e => e.key.startsWith(pattern))
                if (thumbnail) {
                    console.debug('found thumbnail: %s', thumbnail.key)
                    thumbnail.hidden = true
                    f.preview = thumbnail.key
                    return
                }
            })

        console.groupEnd()

        // Sort once
        __manifest__
            .sort((a, b) => {
                if (a.type !== b.type) {
                    return a.type === TYPE_DIRECTORY ? -1 : 1
                }

                const order = a.key < b.key ? -1 : 1

                return SORT_REVERSED ? -order : order
            })

        // Initial render
        render()

        // Subscribe to future renders
        window.onhashchange = render

        // Schedule reflow on window resize
        window.onresize = reflow  // this event PROBABLY isn't cyclic :)
    }

    //
    // Helpers
    //

    function append(f) {
        const anchor = document.createElement('a')
        const label = document.createElement('div')

        anchor.className = 'anchor'
        label.className = 'label'

        let icon
        console.debug('/%s', f.key)
        if (f.type === TYPE_DIRECTORY) {
            label.textContent = f.basename + '/'
            anchor.href = '#/' + f.key
            icon = createIcon('directory')
        }
        else {
            let filesize
            label.textContent = `${f.basename} (${calculateSize(f.bytes)})`
            anchor.href = CONTENT_BASE_URL + f.key
            anchor.target = '_blank'

            if (PATTERN_IMAGE.test(f.basename)) {
                icon = createIcon('image')
            }
            else if (PATTERN_VIDEO.test(f.basename)) {
                icon = createIcon('video')
            }
            else {
                icon = createIcon('file')
            }
        }

        if (f.preview) {
            const preview = document.createElement('div')
            preview.className = 'preview'
            preview.style.backgroundImage = `url('${CONTENT_BASE_URL}${f.preview}')`
            anchor.appendChild(preview)
        }

        anchor.appendChild(icon)
        anchor.appendChild(label)
        anchor.title = label.textContent

        document.querySelector('main').appendChild(anchor)
    }

    function basename(path) {
        return path.split('/').filter(Boolean).pop()
    }

    function calculateSize(bytes) {
        if (bytes < KB) {
            return bytes + 'B'
        }
        if (bytes < MB) {
            return Math.round(bytes/KB) + 'KB'
        }
        return Math.round(bytes/MB) + 'MB'
    }

    function clear() {
        const main = document.querySelector('main')
        while (main.firstChild) {
            main.removeChild(main.firstChild)
        }
    }

    function createIcon(name) {
        return document.querySelector(`#icons .icon-${name}`).cloneNode(true)
    }

    function dirname(path) {
        const segments = path.split('/').filter(Boolean)
        segments.pop()
        return segments.join('/')
    }

    function reflow() {
        let css = document.querySelector('#grid-reflow-control')
        if (!css) {
            css = document.createElement('style')
            css.id = 'grid-reflow-control'
            document.body.appendChild(css)
            console.info('[reflow] created style element', css)
        }

        console.debug('[reflow] recompute grid item width')

        const vw = document.body.clientWidth

        // Clunky way to keep partially-full final row item widths consistent
        // with the rest of the page; there may be a better way to do this
        // with flexbox built-ins but I ain't found it yet

        // Divides the view width into breakpoints close in size to the grid
        // item height to maintain a reasonable aspect ratio
        const itemWidth = vw / Math.floor(vw / document.querySelector('.anchor').clientHeight)

        // Apply the constraint as a percentage bc flexbox gets weird with
        // exact pixels
        css.textContent = `.anchor { max-width: ${(itemWidth / vw * 100).toFixed(3)}%; }`
    }

    function render() {
        const currentDir = location.hash.replace(/(^#\/?|\/?$)/g, '')

        console.groupCollapsed('[render] directory `%s`', currentDir)
        document.querySelector('.current-dir').textContent = document.title = currentDir ? `/${currentDir}/` : '/'

        clear()

        // Make link to parent directory
        if (currentDir) {
            append(toDirectory('..', dirname(currentDir)))
        }

        const items = __manifest__
            .filter(f => f.parent === currentDir && !f.hidden)
        items.forEach(append)

        document.querySelector('.file-count').textContent = `${items.length} items`

        console.groupEnd()

        reflow()
    }

    function renderError(err) {
        clear()

        const element = document.createElement('div')
        element.className = 'error'
        element.textContent = `${err}`

        document.querySelector('.current-dir').textContent = 'oh no'
        document.querySelector('main').appendChild(element)
    }

    function toDirectory(basename_, key) {
        return {
            key: key ? key + '/' : '',
            parent: dirname(key),
            basename: basename_,
            type: TYPE_DIRECTORY,
        }
    }

    function toFile(node) {
        const key = node.querySelector('Key').textContent
        return {
            key:      key,
            parent:   dirname(key),
            basename: basename(key),
            type:     TYPE_FILE,
            bytes:    parseInt(node.querySelector('Size').textContent, 10),
        }
    }

    //
    // Bootstrapping
    //

    main().catch(e => console.error('oh no', e))
</script>
<style>
    html,
    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: 100%;
        font: 14px Ubuntu, system-ui, sans-serif;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #fff;
        color: #444;
        z-index: 2;
        box-shadow:
            0 10px rgba(0,0,0,.2),
            0 1px rgba(0,0,0,.2);
        font-weight: bold;
        font-size: 2em;
        padding: 2em .5em .5em;
    }
    main {
        width: 100%;
        flex: 1;
        display: flex;
        background-color: #ddd;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .file-count {
        align-self: end;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 12px;
        opacity: .5;
    }
    .placeholder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 30vh;
        text-align: center;
        font-weight: 100;
        color: #ccc;
        animation: pulse infinite alternate 2s linear;
    }
    .placeholder .emoji {
        font-size: 2em;
    }
    .error {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 30vh;
        text-align: center;
        background-color: hsl(340, 95%, 95%);
        color: #f06;
        font: 2em monospace;
    }
    @keyframes pulse {
        0%, 15% { color: #444; }
        85%, 100% { color: #ccc; }
    }
    .anchor {
        position: relative;
        overflow: hidden;
        flex: 1 auto;
        width: 300px;
        height: 300px;
        color: white;
        text-decoration: none;
        transition: opacity .1s linear;
        opacity: .7;
        box-shadow: 1px 1px inset rgba(0, 0, 0, .2);
    }
    .anchor:hover {
        opacity: 1;
    }
    .preview {
        z-index: 1;
        position: absolute;
        margin: -25px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #ccc;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        transition:
            transform .25s cubic-bezier(0, 1.36, 0.23, 1.33),
            opacity .1s linear;
        opacity: .7;
    }
    .anchor:hover .preview {
        transform: scale(1.07);
        opacity: 1;
    }
    .label {
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.75);
        padding: .5em;
        text-overflow: ellipsis;
        overflow: hidden;
        text-wrap: nowrap;
    }
    .icon {
        z-index: 5;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30%;
        height: 30%;
        transform: translate(-50%, -50%);
    }
    .icon-directory path:nth-of-type(1) {
        fill: hsl(30, 20%, 50%);
    }
    .icon-directory path:nth-of-type(2) {
        fill: hsl(30, 20%, 70%);
    }
    .icon-image {
        opacity: 0.7;
    }
    .icon-image path:nth-of-type(1) {
        fill: #fff;
    }
    .icon-image path:nth-of-type(2) {
        fill: #ddd;
    }
    .icon-image path:nth-of-type(3), circle {
        fill: #888;
    }
    .icon-file path:nth-of-type(1) {
        fill: #eee;
    }
    .icon-file path:nth-of-type(2) {
        fill: #fff;
    }
    .icon-video {
        fill: #777;
        opacity: 0.7;
    }
    .preview + .icon-video {
        fill: white;
        opacity: 0.5;
    }
    .preview + .icon {
        top: auto;
        left: auto;
        bottom: 40px;
        right: 10px;
        width: 50px;
        height: 50px;
        transform: none;
        filter: drop-shadow(3px 3px 15px rgba(0,0,0,.5));
        opacity: 0.8;
        filter: drop-shadow(1px 1px rgba(0, 0, 0, .1))
    }
    #icons {
        display: none;
    }
</style>
